@Scripts.Render("~/bundles/jqueryui")
<div id="DialogSFP_Add" style="overflow: hidden;"></div>
<div id="DialogSFP_Edit" style="overflow: hidden;"></div>
<div id="container">
    <div id="sfp_div">
    <h5>CF Active Pots</h5>
        <img width="20" height="20" title="Add Now" id="add_sfp_entry_btn" src="../Images/red_plus.png">&nbsp;&nbsp;<span title="Add Now" class="btn_label_span" id="add_sfp_entry_lnk">Add Item </span>
        <div id="pageNavPosition"></div>
        <br>
        <br>
        <span id="page_id" value="">1</span>
        <table class="af_tbl" id="sfp_tbl">
            <tr>
                <th style="width: 35px;">Initial Location</th>
                <th>Actual Location</th>
                <th>Date Delivered</th>
                <th style="width: 15px;">Pot No.</th>
                <th>Planned Cool Time(hrs)</th>
                <th>Expected Dump Time</th>
                <th>Actual Time</th>
                <th>Dumping Temperature</th>
                <th>Remarks</th>
                <th colspan="2">Actions</th>
            </tr>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#ui-datepicker-div').remove();
        load_sfp_data(1);
        $(function () {
            $('#DialogSFP_Add').dialog({
                autoOpen: false,
                width: 400,
                height: 600,
                resizable: false,
                draggable: true,
                title: 'Pots Entry',
                closeText: 'Close[x]',
                modal: true,
                open: function (event, ui) {
                    $(event.target).parent().css('position', 'fixed');
                    $(event.target).parent().css('top', '200px');
                },
            });
        });
        $(function () {
            $('#DialogSFP_Edit').dialog({
                autoOpen: false,
                width: 400,
                height: 600,
                resizable: false,
                draggable: true,
                title: 'Pots Edit',
                closeText: 'Close[x]',
                modal: true,
                open: function (event, ui) {
                    $(event.target).parent().css('position', 'fixed');
                    $(event.target).parent().css('top', '200px');
                },
            });
        });
    });
</script>
